@font-face {
    font-family: "NanumSquareRound";
    font-weight: 50;
    src: url("../../fonts/NanumSquareRoundR.ttf") format("truetype");
}

.background {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;

    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    background-image: url("../../img/CoordiFinder/background.png");
    background-size: cover;
}

.backgroundBlur {
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(30px);
    overflow: auto;
    width: 100%;
    height: 100%;
}

.viewContainer {
    position: fixed;
    display: grid;
    width: 1920px;
    height: auto;
    grid-template-columns: 50% 40% 1fr;
    grid-template-rows: 100%;
}

.titleItem {
    display: flex;
    align-items: center;

    padding-top: 38px;
    padding-bottom: 38px;
}

/* .font {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
} */

.whiteBig {
    padding-left: 41px;
    padding-right: 66px;

    font-size: 35px;

    color: #ffffff;
}

.whiteSmall {
    font-size: 28px;

    padding-left: 72px;

    color: #ffffff;
}

.blackSmall {
    font-size: 9px;

    color: #000000;
}

.q1Item {
    display: flex;
    align-items: center;
}

.q2Item {
    display: flex;
    align-items: top;

    padding-top: 60px;
}

.imageShow {
    box-sizing: border-box;
    width: 450px;
    height: 120px;

    display: flex;

    overflow-x: auto;
    flex-wrap: nowrap;

    padding-top: 3%;
}

.imageShow::-webkit-scrollbar {
    display: none;
    width: 0px;
}

.imageShowItem {
    box-sizing: border-box;

    flex: 0 0 auto;

    width: 82px;
    height: 95px;

    margin-left: 10px;
    margin-right: 10px;

    background-color: #ffffff;
    border: 1px solid #efefef;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imageShowItemBlur {
    opacity: 50%;
}

.image {
    max-width: 70px;
    max-height: 80px;
}

.close {
    width: 21px;
    height: 21px;

    cursor: pointer;

    border: none;

    position: absolute;
    left: 65px;
    top: -5px;

    background: url("../../img/CoordiFinder/close.png");
    background-size: cover;
    background-position: center;
}

.Btn {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 35px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.25);
    width: 97px;
    height: 85px;
    flex-shrink: 0;

    color: #fff;
    font-family: NanumSquareRoundOTF;
    padding: 30px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 39px */

    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;
}
.BtnDown {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 35px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.25);
    width: 97px;
    height: 85px;
    flex-shrink: 0;

    color: #fff;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;

    scale: 0.98;
    opacity: 0.4;
    transition: cubic-bezier(0.25, 1, 0.25, 1);
    transition-duration: 0.3s;
}
.Btn:active {
    /* transition-timing-function:cubic-bezier(0.77, 0, 0.175, 1); */
    scale: 0.97;
    transition: cubic-bezier(0.15, 1, 0.5, 1);
    transition-duration: 0.2s;
    opacity: 0.4;
}
.BtnDown:active {
    scale: 0.97;
    transition: cubic-bezier(0.15, 1, 0.5, 1);
    transition-duration: 0.2s;
    opacity: 0.4;
}
.BtnUp {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 35px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    background: #ffd439;
    width: 97px;
    height: 85px;
    flex-shrink: 0;

    color: #fff;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;

    scale: 1.05;
    opacity: 1;
    transition: cubic-bezier(0.15, 1, 0.5, 1);
    transition-duration: 0.5s;
}

.active {
    background-color: #ffd439;
}

.imageBox {
    box-sizing: border-box;
    border-radius: 30px;
    display: block;
    width: 200px;
    height: 125px;

    background: #ffffff;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-image: url("../../img/CoordiFinder/uploadBox.png");
    background-repeat: no-repeat;
    background-position: 77px 25px;
    background-size: 45px;
}

.imagelabel {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    bottom: 6px;
}

.imagelabel:hover {
    background: #00000033;
}

.imageBoxText {
    position: relative;
    left: 24px;
    top: 91px;
}

.redText {
    height: 10px;
    font-size: 10px;

    color: #ff0000;
}
