/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 174px;
    height: 42px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.sliderT {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.sliderT:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    top: 4px;
    left: 4px;
    background-color: #ffd439;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.sliderT:after {
    position: absolute;
    height: 28px;
    left: 53px;
    top: 7px;

    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #000000;

    position: absolute;
    content: "옷장 활성화";
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .sliderT:before {
    background-color: #ffffff;
}

input:checked + .sliderT:after {
    content: "옷장 비활성화";
}

input:checked + .sliderT {
    background-color: #ffd439;
}

input:focus + .sliderT {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .sliderT:before {
    -webkit-transform: translateX(132px);
    -ms-transform: translateX(132px);
    transform: translateX(132px);
}

input:checked + .sliderT:after {
    -webkit-transform: translateX(-42px);
    -ms-transform: translateX(-42px);
    transform: translateX(-42px);
}

/* Rounded sliders */
.sliderT.round {
    border-radius: 34px;
}

.sliderT.round:before {
    border-radius: 50%;
}
