.passwordModal {
	.Modal {
		display: flex;
		width: 153px;
		height: 19px;
		margin: auto;
		margin-top: -560px;
		padding: 15px 20px;
		flex-direction: row;
		align-items: center;
		border-radius: 30px;
		border: 1px solid #fff, 75%;
		background: #fff, 40%;
		box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		justify-content: space-between;
		color: #fff;
		/* font-family: "YDIYGO340"; */
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 19.5px */
	}
	.Modal > img {
		margin-right: 8px;
	}

	.ModalOpen {
		animation: toastIn 0.5s cubic-bezier(0.15, 1, 0.5, 1) forwards;
	}

	.ModalClosed {
		animation: toastOut 0.5s cubic-bezier(0.75, 0, 0.25, 1) forwards;
	}
	.fade-slide-enter-active {
		animation: openModal 0.5s ease-out forwards;
	}

	.fade-slide-exit-active {
		animation: closeModal 0.5s ease-out forwards;
	}

	/* @keyframes openModal {
		0% {
			opacity: 0;
			transform: translateY(-100%);
		}
		100% {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	@keyframes closeModal {
		0% {
			opacity: 1;
			transform: translateY(0%);
		}
		100% {
			opacity: 0;
			transform: translateY(-100%);
		}
	}
	@font-face {
		font-family: "YDIYGO340";
		font-style: normal;
		font-weight: 100;
		src: url("../../../../../../../public/fonts/YDIYGO340.woff") format("woff"),
			url("../../../../../../../public/fonts/YDIYGO340.ttf") format("truetype");
	} */
}

.emailModal {
	.Modal {
		display: flex;
		width: 153px;
		height: 19px;
		margin: auto;
		margin-top: -560px;
		padding: 15px 20px;
		flex-direction: row;
		align-items: center;
		border-radius: 30px;
		border: 1px solid #fff, 75%;
		background: #fff, 40%;
		box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		justify-content: space-between;
		color: #fff;
		/* font-family: "YDIYGO340"; */
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 19.5px */
	}
	.Modal > img {
		margin-right: 8px;
	}

	.ModalOpen {
		animation: toastIn 0.5s cubic-bezier(0.15, 1, 0.5, 1) forwards;
	}

	.ModalClosed {
		animation: toastOut 0.5s cubic-bezier(0.75, 0, 0.25, 1) forwards;
	}
	.fade-slide-enter-active {
		animation: openModal 0.5s ease-out forwards;
	}

	.fade-slide-exit-active {
		animation: closeModal 0.5s ease-out forwards;
	}

	/* @keyframes openModal {
		0% {
			opacity: 0;
			transform: translateY(-100%);
		}
		100% {
			opacity: 1;
			transform: translateY(0%);
		}
	} */

	/* @keyframes closeModal {
		0% {
			opacity: 1;
			transform: translateY(0%);
		}
		100% {
			opacity: 0;
			transform: translateY(-100%);
		}
	}
	@font-face {
		font-family: "YDIYGO340";
		font-style: normal;
		font-weight: 100;
		src: url("../../../../../../../public/fonts/YDIYGO340.woff") format("woff"),
			url("../../../../../../../public/fonts/YDIYGO340.ttf") format("truetype");
	} */
}
